@import "../assets/styles/_colors.scss";
@import "../assets/styles/_sizes.scss";

.puntoCard {
  width: $puntoCardSize;
  height: $puntoCardSize;
  background-color: $black_color;

  .puntoCard__dot {
    width: $puntoDotSize;
    height: $puntoDotSize;

    &.puntoCard__dotWithColor {
      &.puntoCard__dotWithColor--red {
        &::before {
          background-color: $red_color;
        }
      }

      &.puntoCard__dotWithColor--green {
        &::before {
          background-color: $green_color;
        }
      }

      &.puntoCard__dotWithColor--blue {
        &::before {
          background-color: $blue_color;
        }
      }

      &.puntoCard__dotWithColor--orange {
        &::before {
          background-color: $orange_color;
        }
      }

      &::before {
        content: "";
        width: $puntoDotSize/2;
        height: $puntoDotSize/2;
        display: block;
        border-radius: 100%;
      }
    }
  }
}
